.jpit_activity_crossword_cell {
    width: 24px;
    height: 24px;
    border: none;
    float: left;
    text-align: center;
}

.jpit_activity_crossword_cell input {
    width: 24px;
    height: 24px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;/*COLOR DE LETRA DENTRO DEL CUADRO*/

    color: #4D4D4D;
    background-color: #fff;
}

.jpit_activity_crossword_label {
    border: none;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 0px;
    background: url(imgs/jpit_circle.png) no-repeat center;
    background: #FF4D4C;
    color: #FFF;
}

.jpit_activity_crossword_cell .pit_selected {
    background-color: #b3b3b3;
}

input.jpit_activity_crossword_correct {
    background-color: #f2d84d;
}

input.jpit_activity_crossword_mistake {
    background-color: #df0015;
    color: #FFF;
}

.jpit_activity_crossword_board {
    display: inline-block;
}

.jpit_activity_crossword_line {
    clear: both;
    white-space: nowrap;
}

.jpit_hide{
    display:none
}


